[user]
	email = jmelgarnieves@aol.com
	name = jmelgar16
[init]
	defaultBranch = main
[color]
	ui = auto
[pull]
	rebase = true
[rebase]
	autoStash = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
